.img-box{
    width:98%;
    padding:1%;
    box-shadow: #929292 0px 0px  5px ;
}
.img-box img{
    width:100%;
}
a,a:link,a:visited,a:active{
    color: #999;
    text-decoration: none;
    font-size: 10px;
    display: inline-block;
}
.return{
    display: inline-block;
    line-height: 20px;
    font-size: 2em;
    margin-bottom: 15px;
}

.nav-return{
    width: 100%;
    margin-top: 1%;
}