* {
    padding: 0;
    margin: 0;

}
ul li {
    display: inline-block;
}
img{
    /*height:100%;*/
    width:100%;
}
a,a:visited,a:link,a:focus,a:hover{
    text-decoration: none;
    display: inline-block;
    color: #999;
}
hr{
    border:1px #f3ebeb solid;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align:right;
}
/*------------------------------header-----------------------*/
header{
    overflow: hidden;
    position: fixed;
    width:100%;
    top:0;
    background-color: white;
}
.nav-btn{
    float: left;

}
.nav-btn a{
    padding:10px;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}

.nav-publish,.nav-search{
    width: 18%;
    text-align: center;
    margin-top: 2%;
}

.nav-logo{
    width: 40%;
	margin:0 12%;
    text-align: center;
}
/*---------------------------footer-------------------------*/
footer{
    overflow: hidden;
    position: fixed;
    width:100%;
    bottom:0;
    background-color: white;
}
.label{
    text-align: center;
}
.fo-nav{
    width:25%;
    text-align: center;
}
.nav-btn a{
	font-size:10px;
}
.pic-wrapper{
    width: 30%;
}
/*-----------------------body--------------------------*/
.body{
    width: 98%;
    margin: 18% 0 18% 2%;
}
div .content-box{
    overflow: hidden;
    color:black;
}
.content-box:hover,content-box:active{
    background-color: gainsboro;
}
.content-wrapper{
    width:67%;
    height: 100%;
    padding-left: 3%;
}
.text-red{
    color: red;
}
.abstract,.state{
    padding:2% 0;
}
.abstract ul li,.state ul li{
    width: 30%;
    padding:2% 0;
}
a.active{
    color:#32b550;
}
.room-info,.state{
    color:#7a7777;
}
#district{
    color:#3f98ff;
}
#price{
    color:red;
}
.room_type{
    display: inline-block;
}
.area{
    display: inline-block;
}
/*James add for infinite loading*/
#more{margin:0px auto;}/*border: 1px solid #999;*/ 
.get_more{margin:10px; text-align:center}
.more_loader_spinner{width:20px; height:20px; margin:10px auto; background: url(../images/loader.gif) no-repeat;}